<div class="container py-5">  
  <h3 class="text-center text-uppercase">List of Orders</h3>  
  <table class="table table-bordered table-striped">  
      <thead>  
          <tr class="text-center text-uppercase">  
              <th>OrderId</th>  
              <th>ProductId</th>  
              <th>ProductQuantity</th>  
              <th>UserId</th>  
              <th>BookingOn</th>  
              <th>DeliveredOn</th>  
            </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let emp of p">  
          <td>{{emp.OrderId}}</td>  
          <td>{{emp.ProductId}}</td>  
          <td>{{emp.ProductQuantity}}</td>  
          <td>{{emp.UserId}}</td>  
          <td>{{emp.BookingOn}}</td>  
          <td>{{emp.DeliveredOn}}</td>  
        </tr>  
      </tbody>  
    </table>  
  </div>  

  